/* Base Styles */
body {
    font-family: 'Roboto', sans-serif; /* Modern font */
    background-color: #f8f8f8; /* Light gray background */
    color: #333333; /* Dark gray text */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
    text-align: center; /* Center all text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
}

header {
    background-color: #3f51b5; /* Modern blue */
    color: #ffffff; /* White text */
    text-align: center; /* Center header text */
    padding: 2em;
    border-bottom: 2px solid #1a237e; /* Darker blue border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
}

header:hover {
    background-color: #303f9f; /* Darker blue on hover */
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Center container horizontally */
    padding: 2em;
    text-align: left;
    transition: margin 0.3s ease; /* Smooth margin transition */
}

h1 {
    margin: 0;
    font-size: 3em; /* Increased font size */
    font-weight: bold; /* Bold font */
    transition: font-size 0.3s ease; /* Smooth font size transition */
}

h2 {
    color: #3f51b5; /* Modern blue for headings */
    margin-top: 2em;
    font-size: 2.5em;
    font-weight: bold; /* Bold font */
    transition: color 0.3s ease; /* Smooth color transition */
}

p,
li {
    margin-bottom: 1.5em;
    font-size: 1.2em; /* Increased font size */
    transition: color 0.3s ease; /* Smooth color transition */
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    color: #009688; /* Modern green for links */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
}

a:hover {
    color: #00796b; /* Darker green on hover */
}

/* Decorative Styles */
.decor {
    border: 2px solid #3f51b5; /* Modern blue border */
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.decor:hover {
    border-color: #303f9f; /* Darker blue border on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slightly raised shadow on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .container {
        padding: 2em;
        transition: padding 0.3s ease; /* Smooth padding transition */
    }

    header {
        text-align: center; /* Center header text */
    }

    .menu {
        display: none;
    }
}
