/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fdeeeb;
    color: #000000; /* Changed text color to black */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
    text-align: center; /* Center all text */
}

header {
    background-color: #ff715b; /* Sunset Red */
    color: #ffffff;
    text-align: center; /* Center header text */
    padding: 2em;
    animation: fadeIn 1s ease-out;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Center container horizontally */
    padding: 2em;
    text-align: left;
    animation: fadeInUp 1s ease-out;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    animation: fadeInUp 1s ease-out;
}

h2 {
    color: #f9b4ab; /* Warm Pink */
    margin-top: 2em;
    font-size: 2.5em;
    font-weight: 600;
    animation: fadeInUp 1s ease-out;
}

p,
li {
    margin-bottom: 1.5em;
    font-size: 1.1em;
    color: #000000; /* Changed text color to black */
    animation: fadeInUp 1s ease-out;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    color: #ffe0d9; /* Light Peach */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ffffff;
    animation: scaleIn 0.3s ease-out;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .container {
        padding: 2em;
    }

    header {
        text-align: center; /* Center header text */
    }

    .menu {
        display: none;
    }
}

/* Dark Theme */
body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

header.dark-theme {
    background-color: #1a1a1a;
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
